#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.welcome-message {
  margin: 20px 0;
  text-align: center;
  font-size: 1.5em;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin: auto;
  margin-bottom: 10px !important;
}
